{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsToday</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
  {% block content %}
<h1>OTHER NEWS HEADLINES</h1>
<div class="card">
  {% for  new, des, i, date, url in context %}
          <div class="card-body">
            <h4 class="card-title">Published at:</h4>{{date}}<br>
            <img src="{{i}}" class="img-rounded">
            
            <h3>News:</h3>{{new}}
            <h4>Description:</h4>{{des}}<br>
            <a href="{{url}}" class="btn btn-primary">See full article</a>
          </div>

  {% endfor %}
  {% endblock %}
</div>
    
</body>
</html>